@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --color-text: #ffffff;
  --color-error: #980000;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #000000;
  --color-primary-contrast: #ffffff;
}

html[light] {
  --color-text: #ffffff;
  --color-error: #980000;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #cacaca;
  --color-primary-contrast: #ffffff;
}

html,
body {
  @apply bg-background text-text font-sans underline-offset-4;
}

.button {
  @apply cursor-pointer p-2 px-4 bg-primary text-primary-contrast;
}

a {
  @apply relative;
}

a::after {
  content: "";
  @apply absolute left-0 -bottom-1 h-[2px] w-full bg-red-50 origin-left scale-x-0 transition-transform duration-300;
  transform-origin: left;
}

a:hover::after {
  @apply scale-x-100;
}
