@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --color-text: #e0f7fa;
  --color-error: #ff5252;
  --color-paper: #0a0f1c;
  --color-primary: #1565c0;
  --color-background: #020710;
  --color-primary-contrast: #ffffff;
}

html[light] {
  --color-text: #0a0f1c;
  --color-error: #d32f2f;
  --color-paper: #e3f2fd;
  --color-primary: #2196f3;
  --color-background: #f4faff;
  --color-primary-contrast: #ffffff;
}

html,
body {
  @apply h-full;
}

body {
  overflow: overlay;
  @apply h-full bg-background text-text font-sans underline-offset-4;
}

.footer-nav button {
  @apply cursor-pointer p-2 px-4 bg-primary text-primary-contrast;
}

.footer-nav a {
  @apply relative;
}

.footer-nav a::after {
  content: "";
  @apply absolute left-0 -bottom-1 h-[2px] w-full bg-red-50 origin-left scale-x-0 transition-transform duration-300;
  transform-origin: left;
}

.footer-nav a:hover::after {
  @apply scale-x-100;
}
